name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

permissions: {}

jobs:
  ci:
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: taiki-e/checkout-action@afad4df3ab3122b166e8226ac83be4d981fb64e8 # v1.3.2

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6


      - uses: voidzero-dev/setup-vite-plus-action@5bd070e3dfe8fd6a967ab859304e95daa4e64ea0 # v1
        with:
          cache: true

      - run: npx playwright install chromium

      - run: vite run fmt:check

      - run: vite run lint --format github

      - run: vite run test

      - run: vite run @vibe/dashboard#build

      - run: vite run ready
